# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output, 排除打包产物
dist
/output
/tmp
/out-tsc
/bazel-out

# 排除子项目的打包产物
**/output

# Node, 忽略任意层级下的 node_modules 目录
**/node_modules/
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
